In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_database/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
1,1,Pithiviers,48.1667,2.2500,19.90,57,0,5.22,FR,2022-08-09 01:59:22
2,2,Mataura,-46.1927,168.8643,7.24,57,5,3.45,NZ,2022-08-09 01:59:22
3,3,Chardara,41.2547,67.9692,24.69,45,1,2.26,KZ,2022-08-09 01:59:23
4,4,Great Falls,47.5002,-111.3008,33.66,10,0,0.89,US,2022-08-09 01:58:03
...,...,...,...,...,...,...,...,...,...,...
553,553,Vila Velha,-20.3297,-40.2925,23.97,87,0,3.09,BR,2022-08-09 02:16:12
554,554,Merke,42.8728,73.1786,23.99,44,3,0.24,KZ,2022-08-09 02:16:13
555,555,Ust-Nera,64.5667,143.2000,23.64,42,4,1.05,RU,2022-08-09 02:16:13
556,556,Lakhdenpokhya,61.5198,30.1992,13.85,70,99,1.29,RU,2022-08-09 02:16:14
557,557,Ayagoz,47.9714,80.4392,21.22,54,51,2.13,KZ,2022-08-09 02:16:14

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

# Maximum Temperature Heatmap

In [4]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=90, point_radius=3.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity= 250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity= 250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity= 15, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 18

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
5,5,Cidreira,-30.1811,-50.2056,15.33,85,100,5.49,BR,2022-08-09 01:59:24
6,6,Busselton,-33.6500,115.3333,10.34,74,100,7.27,AU,2022-08-09 01:59:24
10,10,Codrington,-38.2667,141.9667,13.46,54,5,3.31,AU,2022-08-09 01:59:26
22,22,Saint-Ambroise,48.5501,-71.3324,15.30,72,100,2.57,CA,2022-08-09 01:59:32
23,23,Aklavik,68.2191,-135.0107,17.46,48,100,3.22,CA,2022-08-09 01:59:32
29,29,Mariental,-24.6333,17.9667,10.58,32,11,3.35,NaN,2022-08-09 01:59:35
30,30,Port Alfred,-33.5906,26.8910,15.67,82,70,3.53,ZA,2022-08-09 01:59:35
32,32,New Norfolk,-42.7826,147.0587,12.73,49,6,0.81,AU,2022-08-09 01:59:36
34,34,Hobart,-42.8794,147.3294,12.92,69,20,3.60,AU,2022-08-09 01:59:37

In [10]:
preferred_cities_df.count()

City_ID       163
City          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
Country       158
Date          163
dtype: int64

In [11]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
5,5,Cidreira,-30.1811,-50.2056,15.33,85,100,5.49,BR,2022-08-09 01:59:24
6,6,Busselton,-33.6500,115.3333,10.34,74,100,7.27,AU,2022-08-09 01:59:24
10,10,Codrington,-38.2667,141.9667,13.46,54,5,3.31,AU,2022-08-09 01:59:26
22,22,Saint-Ambroise,48.5501,-71.3324,15.30,72,100,2.57,CA,2022-08-09 01:59:32
...,...,...,...,...,...,...,...,...,...,...
546,546,Chimbote,-9.0853,-78.5783,16.24,87,18,3.48,PE,2022-08-09 02:14:55
547,547,Asasa,7.1000,39.2000,13.06,94,100,1.50,ET,2022-08-09 02:16:09
548,548,Hornepayne,49.2138,-84.7705,11.12,88,38,2.25,CA,2022-08-09 02:16:09
549,549,Saurimo,-9.6608,20.3916,14.60,35,0,2.15,AO,2022-08-09 02:16:10
556,556,Lakhdenpokhya,61.5198,30.1992,13.85,70,99,1.29,RU,2022-08-09 02:16:14

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Klaksvik      FO     11.51  62.2266   -6.5890
5         Cidreira      BR     15.33 -30.1811  -50.2056
6        Busselton      AU     10.34 -33.6500  115.3333
10      Codrington      AU     13.46 -38.2667  141.9667
22  Saint-Ambroise      CA     15.30  48.5501  -71.3324
23         Aklavik      CA     17.46  68.2191 -135.0107
29       Mariental     NaN     10.58 -24.6333   17.9667
30     Port Alfred      ZA     15.67 -33.5906   26.8910
32     New Norfolk      AU     12.73 -42.7826  147.0587
34          Hobart      AU     12.92 -42.8794  147.3294

# Find Hotels from a Nearby Search

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        print(f'Found {hotels["results"][0]["name"]} for {hotel_df["City"][index]}')
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

Found Airbnb rooms for Klaksvik
Found Hotel Castelo for Cidreira
Found Observatory Guest House for Busselton
Found Codrington Gardens Bed And Breakfast for Codrington
Found Motel Saint-Ambroise for Saint-Ambroise
Found Aklavik Inn for Aklavik
Found Mariental Hotel for Mariental
Found The Halyards Hotel for Port Alfred
Found The Shingles Riverside Cottages for New Norfolk
Found St Ives Hobart Accommodation Tasmania for Hobart
Found Gostinitsa Severyanka for Bilibino
No hotel found...skipping.
Found The Irish Village for Emerald
Found Bredasdorp Country Manor for Bredasdorp
Found Radisson Blu Hotel Waterfront, Cape Town for Cape Town
Found Busta House Hotel for Brae
Found Гостиничный Комплекс Saad for Atbasar
Found Hotel San Isidro Oficial for Pisco
Found Le four à pain for Saint-Philippe
Found Westmark Fairbanks Hotel & Conference Center for Fairbanks
Found Fishermans Guest House for Henties Bay
Found Vestmanna Camping for Vestmanna
Found Ahipara Holiday Park for Ahipara
No hotel found...skipping.
Found Gostinitsa Dvinskaya for Dvinskoy
Found Oyster Bay House Rental for Kruisfontein
Found Airport Inn-Port Hardy for Port Hardy
Found Lake Forbes Motel for Forbes
Found Gostinitsa "Kolos" for Znamenskoye
Found Crowne Plaza Ordos for Dongsheng
Found Hostel Agat for Iskateley
Found Obshchezhitiye 14 for Mnogovershinnyy
Found Yalemd for Yar-Sale
Found Hotel Mansión for Miraflores
Found The Explorer Hotel for Yellowknife
Found Broadwater Mariner Resort for Geraldton
Found HOSPEDAJE XIMENA for Acari
Found TIR parking for Hoshcha
Found Oyster Box Guesthouse for Walvis Bay
No hotel found...skipping.
Found Eden Rock Lodge for Inyonga
Found Blue Bay Lodge for Saldanha
No hotel found...skipping.
Found Zajazd Boryna for Wielun
Found Hospitality Esperance for Esperance
Found NOAH'S on the beach for Newcastle
Found Gostevoy Dom Terem for Bagdarin
Found Hospedaje Costa Bella for Sechura
No hotel found...skipping.
Found Pension Feldgärtenhof for Lasa
Found Gran Hotel Mar del Plata for Mar Del Plata
Found Room4You for Setermoen
Found Gallows Cove for Torbay
Found Scandic for Varnamo
Found Eagle Foundry Bed & Breakfast for Gawler
Found Misty Waves Boutique Hotel for Hermanus
Found Berghotel Steiger for Schneeberg
Found Göingehof for Hassleholm
Found Baza Otdykha for Deputatskiy
Found Avtostantsiya Ardatov for Ardatov
Found Hotel Unger for Stuttgart
Found Highland Hotel for Strathpeffer
No hotel found...skipping.
Found Bjarnabúð for Husavik
Found Artist Residence Penzance for Penzance
No hotel found...skipping.
Found Kvitbrakka for Berlevag
Found 39 On Nile Guest House for Port Elizabeth
Found Kak Doma for Severo-Kurilsk
Found Hotel Villa Kitzia Huacho for Hualmay
Found Postoyalyy Dvor for Tevriz
Found Kawhia Beachside Scape Holiday Park for Kawhia
Found Siteki Hotel for Siteki
Found End of The Road Ltd. for Tuktoyaktuk
No hotel found...skipping.
Found LÜDERITZ NEST HOTEL for Luderitz
Found CHACARA BAILLY for Castro
Found Bushido Lodge for Kaeo
Found Hostal Morales for Camana
Found Motel Senabi for Senneterre
Found Hotel Morotin for Santa Maria
No hotel found...skipping.
Found Gostinitsa for Verkhnyaya Toyma
Found The Grand Hotel Scarborough for Scarborough
Found Housing Complex Gazprom Transgaz Tomsk for Parabel
Found Hotel Ladakh Greens for Leh
Found Tourist House - Sablino for Nikolskoye
No hotel found...skipping.
Found Holiday Inn Aylesbury, an IHG Hotel for Aylesbury
No hotel found...skipping.
Found Tu Casa for East London
Found Sjybrygga fiskecamp for Sorland
Found Holiday Inn Express Antofagasta, an IHG Hotel for Antofagasta
Found Asnakech W/michael for Yabelo
No hotel found...skipping.
Found Hôtel Kyriad Chateauroux for Chateauroux
Found Port Lincoln Hotel for Port Lincoln
Found Angora Hotel for Ampanihy
No hotel found...skipping.
Found Farol Hotel for Torres
Found Waterview On The Bay for Wiarton
Found Best Western Kodiak Inn for Kodiak
Found Hótel Höfn for Hofn
Found River Place Manor for Upington
Found Sikakubete Guest House Kalabo Town Council for Kalabo
Found Baranof Downtown, BW Signature Collection for Juneau
Found Complejo Turístico Farelluk for San Vicente
No hotel found...skipping.
Found Crest Hotel for Prince Rupert
Found Dredge 7 Inn for Nome
Found Westmark Sitka for Sitka
Found Motel le Valois for Acton Vale
Found The Pelican Lodge for Naivasha
Found Arktika for Tiksi
Found Snåsa Hotell AS for Snasa
Found Mercure Hotel Mildura for Mildura
Found Glamping & Camping for Vestmannaeyjar
Found hotel luna del desierto for Diego De Almagro
Found Comfort Inn for Sept-Iles
Found HOME APART Storozhovskaya str.6 for Bolshevik
Found املاك خالد الشعشوع for Faya
Found Arctic View Glamping & Restaurant for Havoysund
Found Hotel Zumrat for Zhezkazgan
Found Paihuen for Buin
Found Premier Inn Margate hotel for Margate
Found Aquajet Motel for Coffs Harbour
Found Floriana for Romny
Found Casa Maquia for Lata
Found Gostinitsa "Tayezhnaya" for Tynda
Found Balihai Bungalows for Chicama
Found Hotel Ultramar for Valparaiso
Found TazHostel for Tazovskiy
Found Pavovere 2 for Pabrade
Found The Falmouth Hotel for Falmouth
Found RELAHARA for Ambovombe
No hotel found...skipping.
Found Protea Hotel by Marriott Chipata for Chipata
Found Casa Concejos for La Rioja
Found Ooo.khim Baza for Derzhavinsk
No hotel found...skipping.
Found Northland Motor Hotel for La Ronge
Found Caladh Inn for Stornoway
Found Victoria Inn Flin Flon for Flin Flon
Found Msasa Guest House Chinhoyi (Wendy Shaw) for Chinhoyi
Found Castle Arena for Brzeg Dolny
No hotel found...skipping.
Found Pyat' Zvozd for Neryungri
Found Pike's Waterfront Lodge for College
Found "Plantation Bed and Breakfast for Saint-Joseph
Found Khorixas Lodge for Khorixas
Found Lemala Mara for Mugumu
Found Protea Hotel by Marriott Knysna Quays for Knysna
Found Hotell Frøya for Sistranda
Found Shellharbour Resort & Conference Centre for Flinders
Found Scandic Kirkenes for Kirkenes
Found متنزه و بحيرة سيان for Sayyan
Found Hotel Serra da Chela for Lubango
Found Conquistador Hotel for Santa Fe
Found Hotel Briliá for Chimbote
Found abc for Asasa
Found Kay-Vee Lodge Ltd for Hornepayne
Found Hotel Kawissa Saurimo for Saurimo
Found Rauhala Place for Lakhdenpokhya

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Klaksvik,FO,11.51,62.2266,-6.5890,Airbnb rooms
5,Cidreira,BR,15.33,-30.1811,-50.2056,Hotel Castelo
6,Busselton,AU,10.34,-33.6500,115.3333,Observatory Guest House
10,Codrington,AU,13.46,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
22,Saint-Ambroise,CA,15.30,48.5501,-71.3324,Motel Saint-Ambroise
...,...,...,...,...,...,...
546,Chimbote,PE,16.24,-9.0853,-78.5783,Hotel Briliá
547,Asasa,ET,13.06,7.1000,39.2000,abc
548,Hornepayne,CA,11.12,49.2138,-84.7705,Kay-Vee Lodge Ltd
549,Saurimo,AO,14.60,-9.6608,20.3916,Hotel Kawissa Saurimo
556,Lakhdenpokhya,RU,13.85,61.5198,30.1992,Rauhala Place