In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
1,1,Pithiviers,48.1667,2.2500,19.90,57,0,5.22,FR,2022-08-09 01:59:22
2,2,Mataura,-46.1927,168.8643,7.24,57,5,3.45,NZ,2022-08-09 01:59:22
3,3,Chardara,41.2547,67.9692,24.69,45,1,2.26,KZ,2022-08-09 01:59:23
4,4,Great Falls,47.5002,-111.3008,33.66,10,0,0.89,US,2022-08-09 01:58:03
...,...,...,...,...,...,...,...,...,...,...
553,553,Vila Velha,-20.3297,-40.2925,23.97,87,0,3.09,BR,2022-08-09 02:16:12
554,554,Merke,42.8728,73.1786,23.99,44,3,0.24,KZ,2022-08-09 02:16:13
555,555,Ust-Nera,64.5667,143.2000,23.64,42,4,1.05,RU,2022-08-09 02:16:13
556,556,Lakhdenpokhya,61.5198,30.1992,13.85,70,99,1.29,RU,2022-08-09 02:16:14
557,557,Ayagoz,47.9714,80.4392,21.22,54,51,2.13,KZ,2022-08-09 02:16:14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

# Maximum Temperature Heatmap

In [4]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    # temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=90, point_radius=3.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity= 250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity= 250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.35)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity= 15, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 15

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
6,6,Busselton,-33.6500,115.3333,10.34,74,100,7.27,AU,2022-08-09 01:59:24
10,10,Codrington,-38.2667,141.9667,13.46,54,5,3.31,AU,2022-08-09 01:59:26
29,29,Mariental,-24.6333,17.9667,10.58,32,11,3.35,NaN,2022-08-09 01:59:35
32,32,New Norfolk,-42.7826,147.0587,12.73,49,6,0.81,AU,2022-08-09 01:59:36
34,34,Hobart,-42.8794,147.3294,12.92,69,20,3.60,AU,2022-08-09 01:59:37
43,43,Mgandu,-5.9500,34.1333,12.26,72,3,2.87,TZ,2022-08-09 01:59:41
50,50,Bredasdorp,-34.5322,20.0403,10.52,94,9,1.49,ZA,2022-08-09 02:00:45
54,54,Brae,60.3964,-1.3530,13.06,96,100,5.23,GB,2022-08-09 01:59:17
60,60,Fairbanks,64.8378,-147.7164,15.00,58,75,4.12,US,2022-08-09 01:57:47

In [11]:
preferred_cities_df.count()

City_ID       95
City          95
Lat           95
Lng           95
Max Temp      95
Humidity      95
Cloudiness    95
Wind Speed    95
Country       91
Date          95
dtype: int64

In [12]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Klaksvik,62.2266,-6.5890,11.51,93,75,7.09,FO,2022-08-09 01:59:21
6,6,Busselton,-33.6500,115.3333,10.34,74,100,7.27,AU,2022-08-09 01:59:24
10,10,Codrington,-38.2667,141.9667,13.46,54,5,3.31,AU,2022-08-09 01:59:26
32,32,New Norfolk,-42.7826,147.0587,12.73,49,6,0.81,AU,2022-08-09 01:59:36
34,34,Hobart,-42.8794,147.3294,12.92,69,20,3.60,AU,2022-08-09 01:59:37
...,...,...,...,...,...,...,...,...,...,...
541,541,Santa Fe,-31.6333,-60.7000,10.01,96,100,3.58,AR,2022-08-09 02:15:06
547,547,Asasa,7.1000,39.2000,13.06,94,100,1.50,ET,2022-08-09 02:16:09
548,548,Hornepayne,49.2138,-84.7705,11.12,88,38,2.25,CA,2022-08-09 02:16:09
549,549,Saurimo,-9.6608,20.3916,14.60,35,0,2.15,AO,2022-08-09 02:16:10
556,556,Lakhdenpokhya,61.5198,30.1992,13.85,70,99,1.29,RU,2022-08-09 02:16:14

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0      Klaksvik      FO     11.51  62.2266   -6.5890
6     Busselton      AU     10.34 -33.6500  115.3333
10   Codrington      AU     13.46 -38.2667  141.9667
29    Mariental     NaN     10.58 -24.6333   17.9667
32  New Norfolk      AU     12.73 -42.7826  147.0587
34       Hobart      AU     12.92 -42.8794  147.3294
43       Mgandu      TZ     12.26  -5.9500   34.1333
50   Bredasdorp      ZA     10.52 -34.5322   20.0403
54         Brae      GB     13.06  60.3964   -1.3530
60    Fairbanks      US     15.00  64.8378 -147.7164

# Find Hotels from a Nearby Search

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000000000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.