## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../weather_database/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,New Norfolk,AU,12.18,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,12,Keroka,KE,12.38,overcast clouds,-0.7758,34.9453,Bunker Hotel Keroka
2,15,Esperance,AU,12.91,broken clouds,-33.8667,121.9000,Hospitality Esperance
3,17,Busselton,AU,14.25,few clouds,-33.6500,115.3333,Observatory Guest House
4,19,Broken Hill,AU,13.95,few clouds,-31.9500,141.4333,Royal Exchange Hotel

In [7]:
# 2. Using the template add the city name, the country code, 
#    the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
vacation_df.loc[vacation_df['City'] == '']

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route 
# to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Codrington']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Codrington']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Mount Gambier']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bendigo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lakes Entrance']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
33,198,Lakes Entrance,AU,11.76,light rain,-37.8811,147.981,The Esplanade Resort & Spa

In [58]:
# 6. Get the latitude-longitude pairs as tuples 
#    from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints =[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,233,Codrington,AU,13.21,scattered clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
1,157,Mount Gambier,AU,13.03,scattered clouds,-37.8333,140.7667,The Commodore
2,594,Bendigo,AU,13.81,overcast clouds,-36.7667,144.2833,The Hotel Shamrock
3,198,Lakes Entrance,AU,11.76,light rain,-37.8811,147.9810,The Esplanade Resort & Spa

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))